:root {
  --primary-orange: #f56f22;
  --primary-black: #272727;
  --primary-white: #ffffff;
  --primary-gray: #d9d9d9;
  --primary-font: "Plus Jakarta Sans", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-black);
  display: inline-flex;
  align-items: center;
  color: var(--primary-white);
}

.dark-mode {
  background-color: var(--primary-gray);
  color: var(--primary-black);
}

.conteiner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--primary-orange);
  height: 80vh; /* 80% da altura da tela */
  width: 45vw; /* ← 45% da largura da tela */
  border-top-left-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
}
.seleção {
  margin-top: 10px;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 30%;
  margin: -25px 0 0 -25px;
}

.logo {
  width: 400px;
  margin-left: 50%;
  margin-bottom: 100px;
  margin-top: 90%;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
}

.titulo {
  font-family: var(--primary-font);
  font-weight: 800;
  font-size: 40px;
  text-decoration: none;

  margin-bottom: 80%;
  margin-right: 70%;
  margin-top: 30px;
}

.input-container {
  margin-bottom: 40px;
  margin-top: 5px;
  border-radius: 12px;
  border: 2px solid #ffffff;
  padding: 8px 12px;
  background-color: #c4591b;
  gap: 10px;
  display: flex;
  align-items: center;
}

input {
  width: 250px;
  height: 40px;
  font-family: var(--primary-font);
  font-weight: 800;
  font-size: 17px;
  background-color: #c4591b;
  color: var(--primary-white);
  outline: none;
  border: 0 none;
}

::-webkit-input-placeholder {
  color: var(--primary-gray);
}

.dark-mode input {
  color: var(--primary-black);
}

.icone {
  width: 40px;
}

.subtitulos {
  font-family: var(--primary-font);
  font-weight: 800;
  font-size: 17px;
  text-decoration: none;
}

button {
  width: 250px;
  height: 45px;
  font-family: var(--primary-font);
  font-weight: 800;
  font-size: 20px;
  background-color: var(--primary-black);
  color: #ffffff;
  border-radius: 8px;
  border: 0 none;
  margin-top: 30px;
  margin-left: 60px;
  color: var(--primary-white);
}

button:hover {
  background-color: transparent;
  border-color: var(--primary-white);
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  border-color: var(--primary-white);
  border: 1px solid #ffffff;
}

.seleção-2 {
  margin-left: 95px;
  margin-top: 50px;
  font-family: var(--primary-font);
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
}
