<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/styleSuporte.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <title>Suporte</title>
</head>
<body>
    <header>
    <div class="container-logo">
     <img src="assets/images/logo3.png" alt="" class="logo">
     <p>Suporte</p>
     </div>
     <a href="./home.html" class="b-voltar"><i class="fa-solid fa-arrow-left"></i>Voltar</a>
    </header>
    <div class="btn">
    <p>Modo Claro</p>
    <label class="switch">
        <input type="checkbox" id="themeSwitch">
        <span class="slider"></span>
    </label>
    </div>
    <script src="assets/js/modoClaro.js"></script>
    <script src="https://kit.fontawesome.com/1c065add65.js" crossorigin="anonymous"></script>
</body>
</html>
